body {
	font-family:'Roboto', sans-serif;
}
a {
	color:#01161E;
}

h2 {
	color: #9FB1BC;
}

h4 {
	color: #01161E;
}

h3 {
	color:#7C8483;
}

h1 {
	color:#01161E;
}
#black {
	color:#01161E;
}
.navbar-default {
	background-color:#9FB1BC;
	border-color:#9FB1BC;
}

.navbar-default .navbar-brand {
	color:#000000;
}
.navbar-default .navbar-nav>li>a {
    color: #000000; 
}
